<a href="https://colab.research.google.com/github/TABARU-muu/2023-1Project/blob/main/%EA%B0%84%EB%8B%A8%ED%95%9C_%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
import pandas as pd
warnings.filterwarnings(action='ignore')

product_df=pd.DataFrame({
    "Client names":["정만수","조성훈","정만수","도민회","백성아","손정수","천미래","박찬수"],
    "Product names":["탕수육김치세트","탕수육김치세트","라면철면세트","된장푸딩세트","만두크림세트","타코청국장세트","짜장아이스크림세트","볶음세트"],
    "Purchase Values":[3,2,2,5,3,4,3,1],
})

product_df

  Client names Product names  Purchase Values
0          정만수       탕수육김치세트                3
1          조성훈       탕수육김치세트                2
2          정만수        라면철면세트                2
3          도민회        된장푸딩세트                5
4          백성아        만두크림세트                3
5          손정수       타코청국장세트                4
6          천미래     짜장아이스크림세트                3
7          박찬수          볶음세트                1

In [2]:
calc_df = product_df.groupby(by=["Product names"], as_index=False).sum()
calc_df

  Product names  Purchase Values
0        된장푸딩세트                5
1        라면철면세트                2
2        만두크림세트                3
3          볶음세트                1
4     짜장아이스크림세트                3
5       타코청국장세트                4
6       탕수육김치세트                5

In [3]:
calc_df["Purchase Values"] /= len(calc_df)
calc_df.sort_values(by = 'Purchase Values',ascending=False)

  Product names  Purchase Values
0        된장푸딩세트         0.714286
6       탕수육김치세트         0.714286
5       타코청국장세트         0.571429
2        만두크림세트         0.428571
4     짜장아이스크림세트         0.428571
1        라면철면세트         0.285714
3          볶음세트         0.142857